# Environment variables
.env
.env.local
.env.production
.env.test
.env.development

hf_cache/
test/
# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual environments
venv/
env/
ENV/
.venv/



# pyenv
.python-version


# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.npm
.yarn-integrity

# React / Next.js
.next/
out/
build/

# React Native
.expo/
.expo-shared/


# Database
*.db
*.sqlite3
*.sqlite
postgres_data/
redis_data/


# VS Code
.vscode/
*.code-workspace

# Logs
logs/
*.log


# Bower dependency directory
bower_components

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

# parcel-bundler cache
.cache
.parcel-cache

# Temporary folders
tmp/
temp/

# Mobile App specific
# React Native
.expo/
.expo-shared/


# Web-specific
# Sass
.sass-cache/
*.css.map
*.sass.map
*.scss.map

# ESLint
.eslintcache

# Stylelint
.stylelintcache

# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env.test

# Temporary folders
tmp/
temp/

# API Keys and Secrets
config/keys.js
config/config.json
secrets.json


# OSX
#
.DS_Store

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
**/.xcode.env.local

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml
*.hprof
.cxx/
*.keystore
!debug.keystore
.kotlin/

# node.js
#
node_modules/
npm-debug.log
yarn-error.log

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/

**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/screenshots
**/fastlane/test_output

# Bundle artifact
*.jsbundle

# Ruby / CocoaPods
**/Pods/
/vendor/bundle/

# Temporary files created by Metro to check the health of the file watcher
.metro-health-check*

# testing
/coverage

# Yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

